*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcc9ab;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
   
   
}

.container{
    background-color: rgb(255, 227, 204);
    height: 40vh;
    width: 20vw;
    border-radius: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
